<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/home.css">
    <title>home</title>
</head>
<body>
    <body>
    <div class="container">
        <h1>AI ○×クイズ</h1>

        <div id="quiz_go" class="menu-button">
            クイズ画面へ
        </div>

        <div id="setting_go" class="menu-button">
            設定画面へ
        </div>
    </div>

    <script src="../static/js/home.js"></script>
</body>
</body>
</html>