<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/setting.css">
    <title>setting</title>
</head>
<body>
    <div class="container">
        <h2>クイズ設定</h2>

        <label>ジャンル</label>
        <select id="genre">
            <option value="ランダム">ランダム</option>
            <option value="科学">科学</option>
            <option value="歴史">歴史</option>
            <option value="生物">生物</option>
            <option value="宇宙">宇宙</option>
            <option value="地理">地理</option>
            <option value="化学">化学</option>
            <option value="物理">物理</option>
            <option value="人体">人体</option>
            <option value="IT">IT</option>
            <option value="数学">数学</option>
        </select>

        <label>難易度</label>
        <select id="difficulty">
            <option value="ランダム">ランダム</option>
            <option value="簡単">簡単</option>
            <option value="普通">普通</option>
            <option value="難しい">難しい</option>
        </select>

        <button id="save">保存</button>
    </div>

    <script src="/static/js/setting.js"></script>
</body>
</html>